{% extends 'base.html' %}
{% load static %}
{% block body %}
  <iframe width="100%" height="45%" src="https://www.youtube.com/embed/TcMBFSGVi1c?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <div class="first-row">
    <section class="detail_poster"> <!-- 영화 포스터 -->
      <img class="image_size" src="http://img.movist.com/?img=/x00/05/12/35_p1.jpg" alt="어벤져스"/>
    </section>
    <section> <!-- 영화 정보 -->
      너무 재밌어요
    </section>
    <section> <!-- 영화 코멘트 -->
      깔깔
    </section>
  </div>
{% endblock %}