{% extends 'base.html' %}
{% load static %}
{% block body %}

<div>
  <div class="slider-container">

    <div class="slider-content">

      <div class="slider-single">
        <img class="slider-single-image" src="http://img.movist.com/?img=/x00/05/12/35_p1.jpg" alt="1"/>
        <!-- <a class="slider-single-download" href="javascript:void(0);">자세히 보기</a> -->
        <h1 class="slider-single-title">어벤저스</h1>
        <a class="slider-single-likes" href="javascript:void(0);">
          <i class="fa fa-heart"></i>
          <p>1,247</p>
        </a>
      </div>

      <div class="slider-single">
        <img class="slider-single-image" src="http://img.movist.com/?img=/x00/05/05/14_p1.jpg" alt="2" />
        <!-- <a class="slider-single-download" href="javascript:void(0);">자세히 보기</a> -->
        <h1 class="slider-single-title">엄복동</h1>
        <a class="slider-single-likes" href="javascript:void(0);">
          <i class="fa fa-heart"></i>
          <p>1,247</p>
        </a>
      </div>

      <div class="slider-single">
        <img class="slider-single-image" src="http://t2.gstatic.com/images?q=tbn:ANd9GcTXOdTp0xTDTUwGF6j-er6054j7aC8zAk4IpPsIBFLyfThx7hTd" alt="3" />
        <!-- <a class="slider-single-download" href="javascript:void(0);">자세히 보기</a> -->
        <h1 class="slider-single-title">악인전</h1>
        <a class="slider-single-likes" href="javascript:void(0);">
          <i class="fa fa-heart"></i>
          <p>1,247</p>
        </a>
      </div>


      <div class="slider-single">
        <img class="slider-single-image" src="http://img.movist.com/?img=/x00/05/14/24_p1.jpg" alt="4" />
        <!-- <a class="slider-single-download" href="javascript:void(0);">Download <i class="fa fa-download"></i></a> -->
        <h1 class="slider-single-title">명탐정 피카츄</h1>
        <a class="slider-single-likes" href="javascript:void(0);">
          <i class="fa fa-heart"></i>
          <p>1,247</p>
        </a>
      </div>


      <div class="slider-single">
        <img class="slider-single-image" src="http://img.movist.com/?img=/x00/05/14/97_p1.jpg" alt="5" />
        <!-- <a class="slider-single-download" href="javascript:void(0);">Download <i class="fa fa-download"></i></a> -->
        <h1 class="slider-single-title">라플라스의 마녀</h1>
        <a class="slider-single-likes" href="javascript:void(0);">
          <i class="fa fa-heart"></i>
          <p>1,247</p>
        </a>
      </div>

    </div>

    <a class="slider-left" href="javascript:void(0);"><i class="fa fa-arrow-left"></i></a>
    <a class="slider-right" href="javascript:void(0);"><i class="fa fa-arrow-right"></i></a>

  </div>
</div>

{% endblock %}