{% load static %}
<style>
  footer {
    background-image: url('https://www.themoviedb.org/assets/2/v4/footers_v2/Minions-7626a4bff6ef7b6a7afa6a8641278e23b094d6a882da4129d9a8928d05b3b911.jpg'), radial-gradient(at 30% top, rgba(7, 64, 52, 1) 0%, rgba(8, 28, 36, 1) 70%);
  }
</style>
<footer class="single_column lazyboard">
  <nav>
    <div class="join">
      <img src="{% static 'images/logo.svg' %}" alt="The Movie Database (TMDb)" width="130" height="116">
      <a class="rounded" href="/accounts/signup">SIGN UP</a>
    </div>
    <div>
      <h3>
        The BASICS
      </h3>
      <ul>
        <li>
          <a href="https://www.themoviedb.org/">TheMovieDB</a>
        </li>
        <li>
          <a href="https://www.kobis.or.kr/">KOBIS</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>
        Community
      </h3>
      <ul>
        <li>
          <a href="">Instagram</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>
        Community
      </h3>
      <ul>
        <li>
          <a href="">Instagram</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>
        Developer
      </h3>
      <ul>
        <li>
          <a href="https://github.com/by1994">Dr.CHOCO</a>
        </li>
        <li>
          <a href="https://github.com/rrkkee015">pok_winter</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>