{% load static %}
<style>
  footer {
    background-image: url({{ site }}), radial-gradient(at 30% top, rgba(7, 64, 52, 1) 0%, rgba(8, 28, 36, 1) 70%);
  }
</style>
<footer class="single_column lazyboard">
  <nav>
    <div class="join">
      <img src="{% static 'images/logo.svg' %}" alt="The Movie Database (TMDb)" width="130" height="116">
      {% if not user.is_authenticated %}
      <a class="rounded" href="/account/signup">SIGN UP</a>
      {% endif %}
    </div>
    <div>
      <h3>
        The BASICS
      </h3>
      <ul>
        <li><a href="https://www.themoviedb.org/">TheMovieDB</a></li>
        <li><a href="https://www.kobis.or.kr/">KOBIS</a></li>
        <li><a href="https://movie.naver.com/">Naver Movie</a></li>
      </ul>
    </div>
    <div>
      <h3>Friends</h3>
      <ul>
        <li><a href="http://watch-what-u-want.herokuapp.com/">Watch-what-u-want</a></li>
        <li><a href="http://elki.herokuapp.com/">Movie K</a></li>
      </ul>
    </div>
    <div>
      <h3>
        Community
      </h3>
      <ul>
        <li>
          <a href="https://www.instagram.com/pok_winter">Instagram</a>
        </li>
      </ul>
    </div>
    <div>
      <h3>
        Developer
      </h3>
      <ul>
        <li>
          <a href="https://github.com/by1994">Dr.CHOCO</a>
        </li>
        <li>
          <a href="https://github.com/rrkkee015">pok_winter</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>