{% load static %}

  <div class="content">
    <div class="sub_media">
      <div class="left">
        <ul class="primary">
          <li class="logo">
            <a href="/">                
              <img src="{% static 'images/logo.svg' %}" alt="The Movei Database (TMDb)" width="81" height="72">
            </a>
          </li>
          <li>
            <a href="">DISCOVER</a>
          </li>
          <li>
            <a href="">MOVIES</a>
          </li>
          <li>
            <a href="">TV SHOWS</a>
          </li>
          <li>
            <a href="">PEOPLE</a>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul class="primary">
          <li>
            <a href="/login">LOGIN</a>
          </li>
          <li>
            <a href="/accounts/signup">SIGN UP</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="search_bar">
    <section class="search">
      <div class="sub_media">
        <form id="search_form" action="/search" method="get" accept-charset="utf-8">
          <span tabindex="-1" role="presentation" class="k-widget k-autocomplete k-header k-autocomplete-clearable k-state-default">
            <i stlye="color:green" class="fas fa-search"></i>
            <input dir="auto" id="search_v4" name="query" type="text" tabindex="0" autocorrect="off" autofill="off" autocomplete="off" spellcheck="false" placeholder="Search for a movie">
          </span>
        </form>
      </div>
    </section>
  </div>