{% load static %}
<header>
  <div class="content">
    <div class="sub_media">
      <div class="left">
        <ul class="primary">
          <li class="logo">
            <a href="/">                
              <img src="{% static 'images/logo.svg' %}" alt="The Movei Database (TMDb)" width="81" height="72">
            </a>
          </li>
          <li>
            <a href="">DISCOVER</a>
          </li>
          <li>
            <a href="">MOVIES</a>
          </li>
          <li>
            <a href="">TV SHOWS</a>
          </li>
          <li>
            <a href="">PEOPLE</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="search_bar">
    <section class="search">
      <div class="sub_media">
        
      </div>
    </section>
  </div>
</header>