body {
  background: #292B2C;
}

.carousel {
  display: block;
  width: 100%;
  min-width: 550px;
  margin: auto;
  font-size: 0;
  padding: 8px;
  height: 450px;
  margin-top: 10px;
}
.touch .carousel {
  overflow: auto;
}
.carousel:before, .carousel:after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 50px;
  font-size: 80px;
  line-height: 190px;
  font-family: arial;
  color: #555;
  font-weight: bold;
  pointer-events: none;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.carousel:before {
  content: '\2039';
  left: 0;
  text-align: left;
  text-indent: -20px;
  box-shadow: 50px 0 20px -20px #292B2C inset;
}
.carousel:after {
  content: '\203A';
  right: 0;
  text-align: right;
  text-indent: 40px;
  box-shadow: -50px 0 20px -20px #292B2C inset;
}
.carousel.right:after, .carousel.left:before {
  opacity: 1;
}
.carousel.right:after {
  right: 0;
  text-indent: 60px;
}
.carousel.left:before {
  left: 0;
  text-indent: -40px;
}
.carousel > a {
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  color: #CCC;
  font-size: 1.5em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.carousel > a:hover {
  color: #FFF;
}
.carousel > a.prev {
  left: -20px;
}
.carousel > a.next {
  right: -20px;
}
.carousel > .indicator {
  pointer-events: none;
  position: absolute;
  z-index: 4;
  bottom: 0;
  background: #D82B6A;
  height: 4px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.2s, bottom 0.2s;
}
.carousel:hover > .indicator {
  opacity: 1;
  bottom: -10px;
}
.carousel > .wrap {
  overflow: hidden;
  border-radius: 5px;
  height: 100%;
}
.carousel > .wrap > ul {
  list-style: none;
  white-space: nowrap;
  height: 450px;
}
.carousel > .wrap > ul > li {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  margin: 0 0 0 15px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.carousel > .wrap > ul > li:first-child {
  margin: 0;
}
.carousel > .wrap > ul > li img {
  display: block;
  height: 100%;
  margin: auto;
  vertical-align: bottom;
  position: relative;
  z-index: 1;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
