.signup_showpassword {
  margin-top: 15px;
  font-size: 15px;
}

.signup_content {
  margin: 0 auto;
  width: 1000px;
  padding: 2rem;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  display: flex;
}

.genre_button {
  margin: 5px;
  display: inline-block;
}

.signup_card {
  background-color: #fffff00;
}

.signup_top {
  background-image: radial-gradient(at 30% top, #074034 0%, #081c24 70%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
}

.signup_cancel {
  color: #00d573;
  margin-left: 10px;
}

.signup_bottom {
  color: black;
  padding: 20px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.signup_title {
  color: #fff;
}

.signup_main {
  color: #ababab;
  width: 576px;
  margin-right: 10px;
  display: inline-block;
}

.signup_sidebar {
  position: relative;
  top: -120px;
  width: 400px;
  display: inline-block;
}

.signup_main p {
  margin-top: 2.5rem;
  font-size: 15px;
}

.signup_main h2 {
  margin-bottom: 1rem;
}

.signup_button {
  color: #ffffff;
  background-color: #01d277;
  border-color: #01d277;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  border-width: 1px;
  border-style: solid;
  font-weight: 700;
  font: inherit;
  margin-top: 25px;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.signup_button:hover{
  background-color: #02864c;
  border-color: #02864c;
}
